footer.site-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: em(36px) em(30px);
}

.footer.footer-mobile {
    display: block;
    padding: 0.666667em 1.3888888889em;
    @include md {
        display: none;
    }
}

section.region.region-content {
    padding: 1.6666666667em 1.3888888889em;
}