/*!
*   ___  ___ ___ ___   ___ _      ___   _____  ___   ___  _  __
*  / __|/ __/ __/ __| | _ \ |    /_\ \ / / _ )/ _ \ / _ \| |/ /
*  \__ \ (__\__ \__ \ |  _/ |__ / _ \ V /| _ \ (_) | (_) | ' < 
*  |___/\___|___/___/ |_| |____/_/ \_\_| |___/\___/ \___/|_|\_\   *   
*
* # Scss Playbook 1.0.0
* http://matthewelsom.com/blog/simple-scss-playbook.html
*
* Released under the CC0 1.0 Universal license
* https://creativecommons.org/publicdomain/zero/1.0/
*
*
* Files in assets/vendor/bourbon 
* Bourbon 4.2.6
* http://bourbon.io
* Copyright 2011-2015 thoughtbot, inc.
* MIT License
*
* Files in assets/vendor/neat
* Neat 1.7.4
* http://neat.bourbon.io
* Copyright 2012-2015 thoughtbot, inc.
* MIT License
*
* Files in assets/vendor/fontawesome 
* Font Awesome 4.6.3 by @davegandy
* http://fontawesome.io
* MIT License
*
* Files in assets/vendor/normalize 
* normalize.css v3.0.3
* http://github.com/necolas/normalize.css
* MIT License
*/
/*
This file is used to contain all vendor imports.
*/
/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings,
helpers or functions. They have no direct output.
*/
/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings,
helpers or functions. They have no direct output.
*/
/* BOX SHADOW
- usage: @include box-shadow; or @include box-shadow(0, 2px, 2px, #333);
*/
/** CSS DARK THEME PRIMARY COLORS */
/** CSS DARK THEME SURFACE COLORS */
/** CSS DARK THEME MIXED SURFACE COLORS */
/*
This file is used to contain all base imports.
Files inside this folder can contain global styles used in
the project.
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background: #111111;
  box-sizing: border-box;
  color: #efefef;
}

img {
  max-width: 100%;
}

.ck.ck-editor__main > .ck-editor__editable {
  background: transparent !important;
}

.hide {
  display: none;
}

#icons {
  display: none;
}

.nav-wrapper {
  position: absolute;
  height: fit-content;
  width: 12rem;
  padding: 0 4rem;
  bottom: 4%;
  left: 50%;
  text-align: center;
  z-index: 10;
  transform: translateX(-50%);
}
.nav-wrapper .nav-arrows {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}
.nav-wrapper .nav-up {
  opacity: 0;
}
.nav-wrapper .nav-up, .nav-wrapper .nav-down {
  width: 2rem;
  height: 3rem;
  cursor: pointer;
}
.nav-wrapper .nav-up svg, .nav-wrapper .nav-down svg {
  fill: #666666;
  width: 100%;
  max-height: 100%;
}
.nav-wrapper .nav-up svg:hover, .nav-wrapper .nav-down svg:hover {
  fill: black;
}
.nav-wrapper .nav-up {
  transform: rotate(180deg);
}
.nav-wrapper .nav-line {
  width: 100%;
  height: 0.1rem;
  background: black;
  margin: 1rem 0;
  background: #666666;
}

.slider-content {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slider-content .slide {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slider-content .slide:after {
  content: "";
  display: table;
  clear: both;
}
.slider-content .slide:first-child .txt-wrapper span.copy {
  opacity: 1;
}
.slider-content .slide:nth-child(odd) .img {
  transform: translateY(-100%);
}
@media (min-width: 768px) {
  .slider-content .slide:nth-child(odd) .img {
    margin-left: 50%;
  }
}
.slider-content .slide:nth-child(odd) .txt {
  transform: translateY(100%);
}
.slider-content .slide:nth-child(even) .img {
  transform: translateY(100%);
}
.slider-content .slide:nth-child(even) .txt {
  transform: translateY(-100%);
}
@media (min-width: 768px) {
  .slider-content .slide:nth-child(even) .txt {
    margin-left: 50%;
  }
}
.slider-content .slide.active {
  position: absolute;
  z-index: 5;
}
.slider-content .slide.active .img, .slider-content .slide.active .txt {
  transform: translateY(0);
}

.slider-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.slider-container:after {
  content: "";
  display: table;
  clear: both;
}
.slider-container .slide-content {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  transition-delay: 0.15s;
}
@media (min-width: 768px) {
  .slider-container .slide-content {
    width: 50%;
  }
}
.slider-container .slide-content.txt {
  display: table;
  padding: 1rem;
  z-index: 99;
}
@media (min-width: 768px) {
  .slider-container .slide-content.txt {
    padding: 3rem 5rem;
  }
}
.slider-container .slide-content .txt-wrapper {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.slider-container .slide-content .txt-wrapper .button--secondary {
  text-transform: uppercase;
  font-size: 0.6666666667em;
  letter-spacing: 0.1666666667em;
  color: #f3c623;
  font-weight: 700;
  border: 1px solid #f3c623;
  padding: 0.1111111111em 0.2777777778em;
  text-decoration: none;
}
.slider-container .slide-content .txt-wrapper h2 {
  margin: 0;
  font-size: 1.6666666667em;
  margin-bottom: 1.1111111111em;
  line-height: 1.2;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
@media (min-width: 768px) {
  .slider-container .slide-content .txt-wrapper h2 {
    display: block;
  }
}
.slider-container .slide-content.img {
  z-index: 9;
}
.slider-container .slide-content.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.region-header .logo {
  max-width: 220px;
}
@media (min-width: 768px) {
  .region-header .logo {
    margin-bottom: 1.6666666667em;
  }
}

.local-tasks-block {
  margin-top: 1.1111111111em;
  margin-bottom: 1.6666666667em;
}
.local-tasks-block .nav-tabs {
  border-color: #f3c623;
  border-width: 0.1666666667em;
}
.local-tasks-block .nav-tabs .nav-item {
  margin: 0 !important;
  padding: 0.2777777778em 0em;
}
.local-tasks-block .nav-tabs .nav-item a {
  padding: 0.3333333333em 2.5em;
  color: white;
  text-decoration: none;
}
.local-tasks-block .nav-tabs .nav-item a.is-active {
  background-color: #f3c623;
  color: #252116;
}
.local-tasks-block .nav-tabs .nav-item a:hover {
  background-color: #f3c623;
  color: #252116;
}

.menu--main ul {
  list-style: none;
  padding: 0;
}
.menu--main ul li {
  font-size: 0.8333333333em;
  line-height: 2.5;
}
.menu--main ul li a {
  color: #efefef;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  padding: 0.5555555556em 0em;
  font-weight: 700;
  letter-spacing: 1px;
}
.menu--main ul li a:hover {
  color: #f3c623;
}
.menu--main ul li a:hover::after {
  -moz-transform: rotate(0deg) scaleX(1);
  -o-transform: rotate(0) scaleX(1);
  -ms-transform: rotate(0deg) scaleX(1);
  -webkit-transform: rotate(0deg) scaleX(1);
  transform: rotate(0deg) scaleX(1);
}
.menu--main ul li > ul {
  margin-left: 0.5em;
  display: none;
}
.menu--main ul li.menu-item--active-trail a:after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 3px;
  left: 0;
  right: 0;
  background-color: #f3c623;
  -moz-transform: rotate(0deg) scaleX(0);
  -o-transform: rotate(0) scaleX(0);
  -ms-transform: rotate(0deg) scaleX(0);
  -webkit-transform: rotate(0deg) scaleX(0);
  transform: rotate(0deg) scaleX(0);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menu--main ul li.menu-item--active-trail a.is-active {
  color: #f3c623;
}
.menu--main ul li.menu-item--active-trail a.is-active:after {
  -moz-transform: rotate(0deg) scaleX(1);
  -o-transform: rotate(0) scaleX(1);
  -ms-transform: rotate(0deg) scaleX(1);
  -webkit-transform: rotate(0deg) scaleX(1);
  transform: rotate(0deg) scaleX(1);
}
.menu--main ul li.menu-item--active-trail > ul {
  display: block;
}

form {
  margin: 1em 0em;
}

label {
  font-size: 12px;
  text-transform: uppercase;
}

textarea,
select.form-select,
input[type=url],
input[type=email],
input[type=password],
input[type=tel],
input[type=text] {
  height: 2.8888888889em;
  width: 100%;
  margin: 0;
  font-size: 0.8888888889em;
  border: none;
  background: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  color: rgba(255, 255, 255, 0.7) !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
textarea:focus,
select.form-select:focus,
input[type=url]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus {
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}

textarea {
  height: auto;
}

.form-select,
select {
  margin: 40px;
  background: #ff0;
  color: #fff;
}

option:not(:checked) {
  background-color: #252116;
}

.form-item {
  margin-bottom: 1em;
  position: relative;
}

.button {
  border-radius: 1.6666666667em;
  padding: 0.5555555556em 1em;
  margin: 0.5555555556em 0em;
  line-height: 1.6;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  text-transform: uppercase;
}

.button--primary {
  background: #f3c623;
  border: 1px solid #f3c623;
  color: #000000;
}

footer.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em 1.6666666667em;
}

.footer.footer-mobile {
  display: block;
  padding: 0.666667em 1.3888888889em;
}
@media (min-width: 768px) {
  .footer.footer-mobile {
    display: none;
  }
}

section.region.region-content {
  padding: 1.6666666667em 1.3888888889em;
}

/**
 * Popups.
 */
.popup {
  visibility: hidden;
  transition: visibility 0ms linear 0.3s;
}

.popup--visible {
  visibility: visible;
  transition: visibility 0ms;
}

.popup__background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.popup--visible .popup__background {
  opacity: 1;
}

.popup__content {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10001;
  min-width: 600px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-animation: hide-popup 0.3s forwards;
  animation: hide-popup 0.3s forwards;
  /**
   * Popup types.
   */
}

.popup--visible .popup__content {
  -webkit-animation: show-popup 0.3s forwards;
  animation: show-popup 0.3s forwards;
}

.popup__content__title {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 100;
  color: #626262;
}

/**
 * Popup animations.
 * Based on Sweet Alert: "https://t4t5.github.io/sweetalert/"
 */
@-webkit-keyframes show-popup {
  0% {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
  }
  45% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes show-popup {
  0% {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
  }
  45% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes hide-popup {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
}
@keyframes hide-popup {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
}
@keyframes checkmarkAnimation {
  100% {
    stroke-dashoffset: 0;
  }
}
.fancy-checkbox,
.fancy-radio {
  display: none;
}

.fancy-check-label,
.fancy-radio-label {
  display: inline-block;
  line-height: 24px;
  padding-left: 28px;
  position: relative;
  user-select: no-select;
}

.crappy-browser .fancy-check-label .checkmark-path {
  opacity: 0;
}
.modern-browser .fancy-check-label {
  transition: color 0.3s;
}
.fancy-check:checked + .fancy-check-label {
  color: #f3c623;
}
.fancy-check:checked + .fancy-check-label .fancy-checkbox {
  border-color: #f3c623;
}
.modern-browser .fancy-check:checked + .fancy-check-label .checkmark-path {
  animation: checkmarkAnimation 0.5s 0s forwards;
}
.crappy-browser .fancy-check:checked + .fancy-check-label .checkmark-path {
  opacity: 1;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

.fancy-label--text {
  position: relative;
}

.fancy-radio:checked + .fancy-radio-label {
  color: #f3c623;
}
.fancy-radio:checked + .fancy-radio-label .fancy-label--text::before {
  transition: transform 0.15s;
  transform: scaleX(1);
}
.fancy-radio:checked + .fancy-radio-label .fancy-radiobutton {
  border-color: #f3c623;
  transition: border-color 0.5s;
}
.fancy-radio:checked + .fancy-radio-label .radiobutton-dot {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 0.15s, transform 0.15s;
}

.fancy-checkbox,
.fancy-radiobutton {
  border: solid 2px #8b8b8b;
  display: block;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
}
.modern-browser .fancy-checkbox,
.modern-browser .fancy-radiobutton {
  transition: border-color 0.3s;
}

.fancy-checkbox {
  border-radius: 3px;
}

.fancy-radiobutton {
  border-radius: 50%;
}

.radiobutton-dot {
  background-color: currentColor;
  border-radius: 50%;
  height: 12px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 12px;
}

.checkmark {
  height: 20px;
  opacity: 1;
  width: 100%;
  margin-top: -10px;
}
.checkmark .checkmark-path {
  stroke: #f3c623;
  stroke-width: 2px;
  transform-origin: 50% 50%;
  stroke-miterlimit: 10;
  opacity: 1;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

.region.region-content {
  padding: 1.6666666667em 1.3888888889em;
}

.main-content {
  width: 100%;
}
@media (min-width: 768px) {
  .main-content {
    width: 75%;
    float: right;
  }
}

.local-tasks-block .content .nav-tabs .nav-item {
  margin: 0em 0.2777777778em;
}

.main-container aside.sidebar {
  width: 100%;
  padding: 0.5555555556em;
  height: unset !important;
}
@media (min-width: 768px) {
  .main-container aside.sidebar {
    background: url(../images/aside.png) no-repeat right top #000000;
    width: 25%;
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    padding: 2em 1.6666666667em;
    height: 100vh !important;
  }
}
.main-container aside.sidebar .region-header {
  position: relative;
}
.main-container aside.sidebar .region-header .menu--main {
  position: fixed;
  z-index: 9;
  width: 100%;
  left: -100%;
  padding: 0.5555555556em 2.2222222222em;
  background: #111111;
}
@media (min-width: 768px) {
  .main-container aside.sidebar .region-header .menu--main {
    position: unset;
    padding: 0.5555555556em;
    background: transparent;
  }
}
.main-container aside.sidebar .region-header .mob_menu {
  position: absolute;
  right: 0;
  top: 0.8333333333em;
}
@media (min-width: 768px) {
  .main-container aside.sidebar .region-header .mob_menu {
    display: none;
  }
}
.main-container aside.sidebar .region-header .mob_menu #menu {
  display: none;
}
.main-container aside.sidebar .region-header .mob_menu #menu:checked ~ .menu {
  background-color: transparent;
  transform: rotate(360deg);
  transition: transform 250ms ease;
}
.main-container aside.sidebar .region-header .mob_menu #menu:checked ~ .menu span {
  background-color: white;
  transition: transform 250ms ease;
}
.main-container aside.sidebar .region-header .mob_menu #menu:checked ~ .menu span:nth-of-type(1) {
  transform: translateY(1px) rotate(45deg);
}
.main-container aside.sidebar .region-header .mob_menu #menu:checked ~ .menu span:nth-of-type(2) {
  display: none;
}
.main-container aside.sidebar .region-header .mob_menu #menu:checked ~ .menu span:nth-of-type(3) {
  transform: translateY(-1px) rotate(-45deg);
}
.main-container aside.sidebar .region-header .mob_menu .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  transition: transform 250ms ease;
  cursor: pointer;
  z-index: 200;
}
.main-container aside.sidebar .region-header .mob_menu .menu span {
  position: relative;
  display: block;
  width: 50%;
  height: 2px;
  background-color: #f9d260;
  float: left;
  transform-origin: center center;
  transition: transform 250ms ease;
  z-index: 200;
}
.main-container aside.sidebar .region-header .mob_menu .menu span:nth-of-type(1) {
  transform: translateY(-5px);
}
.main-container aside.sidebar .region-header .mob_menu .menu span:nth-of-type(3) {
  transform: translateY(5px);
}
.main-container aside.sidebar .site-footer {
  display: none;
}
@media (min-width: 768px) {
  .main-container aside.sidebar .site-footer {
    display: block;
  }
}

/* colors */
.not-found-page {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 11.1111111111em;
}

.error {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-direction: normal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.number {
  font-weight: 900;
  font-size: 15rem;
  line-height: 1;
}

.illustration {
  position: relative;
  width: 12.2rem;
  margin: 0 2.1rem;
}

.circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12.2rem;
  height: 11.4rem;
  border-radius: 50%;
  background-color: #f3c623;
}

.clip {
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  width: 12.5rem;
  height: 13rem;
  border-radius: 0 0 50% 50%;
}

.paper {
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 9.2rem;
  height: 12.4rem;
  border: 0.3rem solid #f3c623;
  background-color: white;
  border-radius: 0.8rem;
}
.paper::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  width: 1.4rem;
  height: 1rem;
  background-color: white;
  border-bottom: 0.3rem solid #f3c623;
  transform: rotate(45deg);
}

.face {
  position: relative;
  margin-top: 2.3rem;
}

.eyes {
  position: absolute;
  top: 0;
  left: 2.4rem;
  width: 4.6rem;
  height: 0.8rem;
}

.eye {
  position: absolute;
  bottom: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #f3c623;
  animation-name: eye;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.eye-left {
  left: 0;
}
.eye-right {
  right: 0;
}

@keyframes eye {
  0% {
    height: 0.8rem;
  }
  50% {
    height: 0.8rem;
  }
  52% {
    height: 0.1rem;
  }
  54% {
    height: 0.8rem;
  }
  100% {
    height: 0.8rem;
  }
}
.rosyCheeks {
  position: absolute;
  top: 1.6rem;
  width: 1rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #f3c623;
}
.rosyCheeks-left {
  left: 1.4rem;
}
.rosyCheeks-right {
  right: 1.4rem;
}

.mouth {
  position: absolute;
  top: 3.1rem;
  left: 50%;
  width: 1.6rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  transform: translateX(-50%);
  background-color: #f3c623;
}

.maintenance-page {
  text-align: center;
}
.maintenance-page header {
  margin-top: 11.1111111111em;
}
.maintenance-page header .logo {
  max-width: 16.6666666667em;
  margin-bottom: 1.6666666667em;
}

nav[aria-labelledby=pagination-heading] {
  margin: 10px 0;
}
nav[aria-labelledby=pagination-heading] ul.js-pager__items {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  flex-wrap: wrap;
  gap: 10px;
}
nav[aria-labelledby=pagination-heading] ul.js-pager__items li {
  list-style: none;
  color: #fff;
}
nav[aria-labelledby=pagination-heading] ul.js-pager__items li.is-active a {
  color: #000;
  background-color: #fff;
}
nav[aria-labelledby=pagination-heading] ul.js-pager__items li a {
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  border-radius: 3px;
  transition: all 0.3s;
}
nav[aria-labelledby=pagination-heading] ul.js-pager__items li a:hover {
  background: #fff;
  color: #000;
}

/*# sourceMappingURL=styles.css.map */
